<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.username %></td>

      <td>
        <span><%= link "Show", to: Routes.user_path(@conn, :show, user) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
